.flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 150px;
  .flag-image {
    width: 150px;
    height: 100px;
  }
  .tooltip {
    position: absolute;
    display: inline-block;
    z-index: 1;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-top: 130px;
  }
  &:hover {
    .tooltip {
      opacity: 0.8;
    }
  }
}
