@mixin button($color) {
  padding: 0.5rem;
  background-color: $color;
  border-radius: 25px;
  border: 1px solid $color;
  cursor: pointer;
  color: #ffffff;
}

@mixin input {
  padding: 0.5rem;
  width: 80vw;
  max-width: 400px;
  box-sizing: border-box;
  border: 1px #cccccc solid;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(179, 179, 179, 0.75);
}
