button {
  padding: 0.5rem;
  background-color: #c7af44;
  border-radius: 25px;
  border: 1px solid #c7af44;
  cursor: pointer;
  color: #ffffff;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  button {
    margin-left: 0;
  }
}
