@use '../../../assets/styles/base';

.login-input {
  @include base.input;
}

.login-button {
  @include base.button(#44c755);
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .login-input {
    width: 80vw;
  }
  .login-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
