.login-input {
  padding: 0.5rem;
  width: 80vw;
  max-width: 400px;
  box-sizing: border-box;
  border: 1px #cccccc solid;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(179, 179, 179, 0.75);
}

.login-button {
  padding: 0.5rem;
  background-color: #44c755;
  border-radius: 25px;
  border: 1px solid #44c755;
  cursor: pointer;
  color: #ffffff;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .login-input {
    width: 80vw;
  }
  .login-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
