:host {
  height: 100%;
  .dashboard {
    margin-bottom: 10px;
    .autocomplete {
      padding: 0.5rem;
      width: 80vw;
      max-width: 400px;
      box-sizing: border-box;
      border: 1px #cccccc solid;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(179, 179, 179, 0.75);
    }

    .show-route {
      padding: 0.5rem;
      background-color: #c7af44;
      border-radius: 25px;
      border: 1px solid #c7af44;
      cursor: pointer;
      color: #ffffff;
      margin-left: 10px;
    }
  }

  .map {
    width: 100vw;
    height: 85%;
  }
}
