@use '../../../assets/styles/base';

:host {
  height: 100%;
  .dashboard {
    margin-bottom: 10px;
    .autocomplete {
      @include base.input;
    }
    .show-route {
      @include base.button(#c7af44);
      margin-left: 10px;
    }
  }
  .map {
    width: 100vw;
    height: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .show-route {
    margin-left: 0;
    margin-top: 10px;
  }
}
