.navbar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  nav {
    a {
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      padding: 0.5rem;
      background-color: #4488c7;
      border: 1px #4488c7 solid;
      border-radius: 25px;
      cursor: pointer;
      margin-left: 10px;
    }
    a.active {
      background-color: #ffffff;
      color: #4488c7;
    }
  }
}
