.flags-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .flag {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .flag-image {
      width: 150px;
      height: 100px;
    }
  }
}
